.svn
/conf/*.lua
/log/*.log
/log/*.pid
*_build
/serverexec
/core
/0
/1
.ignore
*.ignore
/bin/monitor
/bin/sauer_server
/bin/utils/keygen
/lib/*
*~
/content/*
/instances/?/
/instances/??/
/instances/???/
/base_config.lua
